.bd-header-announcement {
  background: linear-gradient(90deg, #5e35b1, #9162e4);
}

.sidebar-primary-items__title {
  font-weight: 500;
}

html[data-theme="dark"] .bd-content img[src*="memorax_logo"] {
  background-color: transparent;
}
